<!DOCTYPE html>
<html >
    <head>
            <link rel="stylesheet" type="text/css" href="css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">     
    </head>
    <body  ng-app="tq_database" ng-controller="tq_db_controller" ng-cloak>
        <div > <!-- page 1 -->
            <form>
                <h2>TA Database</h2>
                <ul class="form-style">
                    <li>
                        <label class="field-label">Interview purpose <span class="required">*</span></label>
                        <select  ng-model="form_fields.val_purpose" class="field-select">
                            <option value="">-- select --</option>
                            <option value="Visa">Visa</option>
                            <option value="Permanent residence">Permanent residence</option>
                        </select>
                        <label class="error-message" ng-show="!form_fields.val_purpose && error_on">* This field is required</label>
                    </li>
                    <li>
                        <label class="field-label">City <span class="required">*</span></label>
                        <select  ng-model="form_fields.val_city" class="field-select">
                            <option value="">-- select --</option>
                            <option value="London">London</option>
                            <option value="Brington">Brington</option>
                            <option value="Belfast">Belfast</option>
                            <option value="Cardiff">Cardiff</option>
                            <option value="Newcastle">Newcastle</option>
                            <option value="Elsewhere">Elsewhere</option>
                        </select>
                        <label class="error-message" ng-show="!form_fields.val_city && error_on">* This field is required</label>
                    </li>
                    <li>
                            <label class="field-label">Address <span class="required">*</span></label>
                            <textarea name="field5" ng-model="form_fields.val_address" id="field5" class="field-long field-textarea"></textarea>
                            <label class="error-message" ng-show="!form_fields.val_address && error_on">* This field is required</label>
                    </li>
                    
                    <li>
                        <label class="field-label">Interviewer <span class="required">*</span></label><input type="text" ng-model="form_fields.val_interviewer"  class="field-long"  />
                        <label class="error-message" ng-show="!form_fields.val_interviewer && error_on">* This field is required</label>
                    </li>
                    <li>
                        <label class="field-label">Interviewee <span class="required">*</span></label><input type="text" ng-model="form_fields.val_interviewee"  class="field-long"  />
                        <label class="error-message" ng-show="!form_fields.val_interviewee && error_on">* This field is required</label>
                    </li>
                    <li>
                            <label class="field-label">Interviewee's email <span class="required">*</span></label><input type="text" ng-model="form_fields.val_interviewee_email"  class="field-long"  />
                            <label class="error-message" ng-show="!form_fields.val_interviewee_email && error_on">* This field is required</label>
                    </li>
                 
                    <li>
                        <label class="field-label">Interviewee's phone number <span class="required">*</span></label>
                        <input type="text" ng-model="form_fields.val_interviewee_phone"  class="field-long" />
                        <label class="error-message" ng-show="!form_fields.val_interviewee_phone && error_on">* This field is required</label>
                    </li>
                    <li>
                        <label class="field-label">Date <span class="required">*</span></label>
                        <input type="text"  ng-model="form_fields.val_date" class="field-long" />
                        <label class="error-message" ng-show="!form_fields.val_date && error_on">* This field is required</label>
                    </li>
                    <li>
                        <label class="field-label">Unique interview ID <span class="required">*</span></label>
                        <input type="text"  readonly="true" ng-model="form_fields.val_interview_id" class="field-divided" /> &nbsp;<input type="button" ng-click="generateID()" value="Generate ID" />
                        <label class="error-message" ng-show="!form_fields.val_interview_id && error_on">* This field is required</label>
                    </li>
                    
                    <li>
                        <input type="button" ng-click="submit_ta_records()" value="Submit" />
                    </li>
                </ul>
            </form>
        </div>
        <div> <!-- page 2 -->

        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>  
        <script type="text/javascript" src="js/utilities.js"></script>  
        <script type="text/javascript" src="js/pikaday.js"></script>
        <script></script>
    </body>
</html>